@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<img src="images/DinoDiner-24.png" width="300" height="300" />
<h1>Welcome to Dino Diner!</h1>
<ul>
    <li><a asp-page="/Menu">Menu</a></li>
    <li><a asp-page="/Privacy">Privacy</a></li>
    <li><a asp-page="/About">About</a></li>
</ul>







