@page
@model Website.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}
<h1>Menu</h1>

<h2>Combos</h2>
    <div class="menu-item">Entrees</div>


    <div class="menu-item">Sides</div>
    <div class="menu-item">Drinks</div>

<h2>Entrees</h2>
<div class="menu-item">Brontowurst</div>
           <div class="menu-item">Price: $2.00</div>
    
    <div class="menu-item">DinoNuggets</div>
    <div class="menu-item">PrehistoricPBJ</div>
    <div class="menu-item">PterodactylWings</div>
    <div class="menu-item">SteakosaurusBurger</div>
    <div class="menu-item">TRexKingBurger</div>
    <div class="menu-item">VelociWrap</div>

<h2>Sides</h2>
    <div class="menu-item">Fryceritops</div>
    <div class="menu-item">MeteorMacAndCheese</div>
    <div class="menu-item">MezzorellaSticks</div>
    <div class="menu-item">Triceritots</div>

<h2>Drinks</h2>
    <div class="menu-item">JurassicJava</div>
    <div class="menu-item">Sodasaurus</div>
    <div class="menu-item">Tyranotea</div>
    <div class="menu-item">Water</div>