/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */


body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.content {
    display: flex;
    flex-direction: row;
}

form {
    width: 300px;
    background-color: lightblue;
    flex-grow: 0;
    padding: 25px;
    margin-left: 15px;
    float: right;
}

h4 {
    margin-bottom: 5px;
}

.menu-category-list {
    display: flex;
    flex-direction: column;
}

.price {
    width: 100px;
}

.ingredient-list {
    display: flex;
    flex-direction: column;
}



#body-content {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 2em auto;
    max-width: 70em;
}

#body-content a {
    color: lightgreen;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 18em;
}

