/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */

/* Body */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.content {
    display: flex;
    flex-direction: row;
}

form {
    width: 300px;
    background-color: lightblue;
    flex-grow: 0;
    padding: 25px;
    margin-left: 15px;
    float: right;
}

h4 {
    margin-bottom: 5px;
}

.menu-category-list {
    display: flex;
    flex-direction: column;
}

.price {
    width: 100px;
}

.ingredient-list {
    display: flex;
    flex-direction: column;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 18em;
}

/* Footer */
footer {
    clear: both;
    background-color: lightblue;
    font-size: 0.75em;
    padding: 0.5em 1em;
    margin: 0 0 0 0;
    display: flex;
}

footer p {
    padding: 0.25em 1em;
    margin: auto;
    color: black;
    max-width: 70em;
    text-align: right;
}

footer p.small {
    font-size: 0.5em;
}
/* End bottom */

/* Table */
table, th, td {
    border: 0.1em solid lightblue;
    border-collapse: collapse;
    text-align: center;
}

table {
    margin: 0.5em auto;
    width: 95%;
}
/* End Table */